@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.brand-logo, h2{
  font-family: 'Orbitron', sans-serif;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.mycard{
  margin-top: 5%;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
}
.item{
  width:30%;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

.results-card{
  max-width: 250PX;
  height: max-content;
  margin: 1rem;
  float: left;
  position: relative;
}

.recommendations{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

.recommendations-card{
  max-width: 150PX;
  height: max-content;
  margin: 1rem;
  float: left;
  position: relative;
}

#toast-container{
  top:30px !important;
  right:20px !important;
  left: auto !important;
}

footer{
  margin-top: 5%;
  
}

.header{
  /* background-color: #fafafa; */
  text-align: center;
}

.card{
  /* color: #263238; */
  direction: ltr;
  position: relative;
}

.card-action{
  color:#263238;
}

.search{
  max-width: 200px;
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  justify-content: center;
}


.headerText{
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  justify-content: center;
}

.material-icons{
  cursor: pointer;
}

.card.profile{
  margin: 1rem;
  max-width: 150PX;
}

#cardPanel{
  position: relative;
  float: left;
  margin-bottom: 10px;
}

.add-profile-image{
  position: absolute;
  margin-top: 135px;
  margin-left: 135px;
  
}

.cart-title {
  display: flex;
  align-items:center;
}

.collection-item{
  color: black;
  width: 100%;
}

.collection{
  color: black;
  width: 100%;
}

.modal-content{
  direction: ltr;
}

.collection-items{
  display: flex;
  align-items:center;
}

.giphy {
  width: 20%;
}

li {
  margin-right: "-3%";
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}